body {
    margin: 0px;
    font-style: oblique;
    font-family: 'News Cycle';
    font-size: large;
    background-color: white;
}

h1 {
    align-items: center;
    text-align: center;
    font-family:'News Cycle';
    height: auto;
    justify-items: center;
    font-style: normal;
    border-spacing: 1500px;
    color:rgb(167, 23, 23);
    padding-top: 150px;
}

h2 {
    
    color:rgb(167, 23, 23);
    align-content: center;
    text-align: center;
    font-family:'News Cycle';
    font-size: 30px;
    font-style: normal;
    width: 100%;
    height: 250px;
}

/* Links*/
a{
    font-family: 'News Cycle';
    font-style: normal;
    font-size: 50px;
    text-decoration: blue;
    color: inherit;
	text-shadow: 6px 10px 10px rgb(0, 0, 0);
}
/*Cabecera*/
#header { 
    font-family: 'News Cycle';
    font-style: normal;
    text-decoration: none;
    color: solid;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.884);
    width:100%;
    z-index: 50;
}
/*Lista Desplegable*/
ul, ol {
    list-style:none;
}

.nav > li {
    float:left;
    
}

.nav li a {
    font-size: 30px;
    color:rgb(167, 23, 23);
    text-decoration:none;
    padding: 10px;
    display:block;
    
}

.nav li a:hover {
    background-color: transparent;
    font-family: 'News Cycle';
    font-style: bold;
    font-size: 30px;
    text-decoration: none;
    color: inherit;
	align-items: stretch;
	position: relative;
    
}

.nav li ul {
    display:none;
    position:relative;

}

.nav li:hover > ul {
    display:inline-block;
    position: fixed;
    z-index: 50;
    background-color: rgba(255, 255, 255, 0.507);
    width:150px;
    align-content: flex-start;
}

.nav li ul li {
    position:relative;
}

/*Ventana Emergente*/
.window-notice {
    background: rgba(0, 0, 0, 0.336);
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    display: flex;
    position: fixed;
    z-index: 999;
}

.window-notice .content {
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(33, 41, 52, .75);
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 600px;
    min-width: 320px;
    overflow: hidden;
    position: relative;
    width: 100%;
    padding: 2rem;
    font-size: 1.3rem;
}

/*Boton Transparente*/
.botonEnviar {
    background-color:rgb(2, 175, 10);
    border: none;
	border-radius: 3px;
    box-shadow: 1px 1px 4px #DADADA;
    color: #fff;
    font-family: News Cycle;
    font-size: medium;
    padding: 5px 15px 5px 15px;
	-moz-box-shadow: 1px 1px 4px #DADADA;
	-webkit-box-shadow: 1px 1px 4px #DADADA;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}
.botonEnviar span {
  cursor: pointer;
  display: inline-block;
  position: absolute;
  transition: 0.5s;
}
.botonEnviar span:after {
    position: absolute;
    opacity: 0;
    top: 0;
    right: -5px;
    transition: 0.5s;
  }
.botonEnviar:hover span {
    padding-right: 25px;
    font-style: bold;
}
.botonEnviar:hover span:after {
    opacity: 1;
    right: 0;
}
.botonEnviar:hover {
    background-color:green;
    color: rgb(255, 255, 255);
}    


  /*Boton Borrar*/
.botonBorrar {
    background: red;
    border: none;
	border-radius: 3px;
    box-shadow: 1px 1px 4px #DADADA;
    color: #fff;
    font-family: News Cycle;
    font-size: medium;
    padding: 5px 15px 5px 15px;
	-moz-box-shadow: 1px 1px 4px #DADADA;
	-webkit-box-shadow: 1px 1px 4px #DADADA;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}
  
.botonBorrar span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    } 
  
.botonBorrar span:after {
    position: absolute;
    opacity: 10%;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
.botonBorrar:hover span {
      padding-right: 25px;
      
    }
    
.botonBorrar:hover {
        background-color:  rgb(182, 7, 7);
        color: white;
   }    

.botonBorrar:hover span:after {
      opacity: 100;
      right: 0;
    }

.imagenespaganas{
    width: 100px;
    height: 100px;
    align-items: center;
}

.formulario{
    font-family: 'News Cycle';
    font-style: normal;
    padding-bottom: 5px;
    display: block;
    padding-top: 200px;
    padding-left: 500px;
}


/* Contenedor de Imagenes*/
.contenedor-imagenes{
    display:flex;
    width: 85%;
    margin: auto;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius:3px;
}

.contenedor-imagenes .imagen{
    width: 32%;
    position: relative;
    height:250px;
    margin-bottom:5px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .75);
    overflow-block: hidden;
    
}
.imagen img{
    width: 100%;
    height:100%;
    object-fit: cover;
}

.barrasSeparadoras{
    color: solid;
    position: relative;
    background-color: rgb(255, 0, 0);
    width: fit-content;    
    z-index: 50;
    }


/* Esto puede borrarse*/
.form-style-2{
	max-width: 500px;
	padding: 20px 12px 10px 20px;
	font: 18px News Cycle;
    font-style: bold;
}
.form-style-2-heading{
	font-weight: normal;
	font-style: italic;
	border-bottom: 2px solid #ddd;
	margin-bottom: 20px;
	font-size: 15px;
	padding-bottom: 3px;
}
.form-style-2 label{
	display: block;
	margin: 0px 0px 15px 0px;
}
.form-style-2 label > span{
	width: 100px;
	font-weight: bold;
	float: left;
	padding-top: 8px;
	padding-right: 5px;
}
.form-style-2 span.required{
	color:red;
}
.form-style-2 .tel-number-field{
	width: 40px;
	text-align: center;
}
.form-style-2 input.input-field, .form-style-2 .select-field{
	width: 48%;	
}
.form-style-2 input.input-field, 
.form-style-2 .tel-number-field, 
.form-style-2 .textarea-field, 
 .form-style-2 .select-field{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border: 1px solid #C2C2C2;
	box-shadow: 1px 1px 4px #EBEBEB;
	-moz-box-shadow: 1px 1px 4px #EBEBEB;
	-webkit-box-shadow: 1px 1px 4px #EBEBEB;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	padding: 7px;
	outline: none;
}
.form-style-2 .input-field:focus, 
.form-style-2 .tel-number-field:focus, 
.form-style-2 .textarea-field:focus,  
.form-style-2 .select-field:focus{
	border: 1px solid rgb(204, 0, 0);
}
.form-style-2 .textarea-field{
	height:100px;
	width: 55%;
}
