body {
    margin: 0px;
    font-style: oblique;
    font-family: 'News Cycle';
    font-size: large;
    background-color: white;
}

h1 {
    align-items: center;
    text-align: center;
    font-family:'News Cycle';
    height: auto;
    justify-items: center;
    font-style: normal;
    color:rgb(167, 23, 23);
}

h2 {
    color:rgb(167, 23, 23);
    align-content: center;
    text-align: center;
    font-family:'News Cycle';
    font-size: 28px;
    font-weight: lighter;
    font-style: normal;
    width: 100%;
    height: 250px;
}

/* Links*/
a{
    font-family: 'News Cycle';
    font-style: normal;
    font-size: 50px;
    text-decoration: blue;
    color: inherit;
    height: 50px;
}
/*Cabecera*/
#header {   
    font-family: 'News Cycle';
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    color: solid;
    background-color: #292b2c !important;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
    display:flow-root;
        
    }
/*Lista Desplegable*/
ul, ol {
    list-style:none;
    
}

.nav > li {
    float:left;
    align-items: center;
}

.nav li a {
    font-size: 22px;
    text-decoration:none;
    padding: 5px;
    display:block;
    color: whitesmoke;
}

.nav li a:hover {
    font-family: 'News Cycle';
    font-style: bold;
    color:rgb(255, 0, 0);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1030;
    transition: 0.4s;
}

.nav li ul {
    display:none;
    position:relative;

}

.nav li:hover > ul {
    display:inline-block;
    position:relative;
    background-color: rgb(255, 255, 255);
    align-content: center;
}

.nav li ul li {
    position:relative;
}

/*Ventana Emergente*/
.window-notice {
    background: rgba(0, 0, 0, 0.336);
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    display: flex;
    position: fixed;
    z-index: 999;
}

.window-notice .content {
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(33, 41, 52, .75);
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 600px;
    min-width: 320px;
    overflow: hidden;
    position: relative;
    width: 100%;
    padding: 2rem;
    font-size: 1.3rem;
}

/*Boton Transparente*/
.botonEnviar {
    background-color:rgb(2, 175, 10);
    border: none;
	border-radius: 3px;
    color: #fff;
    font-family: News Cycle;
    font-size: medium;
    padding: 5px 15px 5px 15px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
    margin-left: 325px;
    box-shadow: 1px 1px 4px #525252;
	-moz-box-shadow: 1px 1px 4px #525252;
	-webkit-box-shadow: 1px 1px 4px #525252;
}
.botonEnviar span {
  cursor: pointer;
  display: inline-block;
  position: absolute;
  transition: 0.5s;
}
.botonEnviar span:after {
    position: absolute;
    opacity: 0;
    top: 0;
    right: -5px;
    transition: 0.5s;
  }
.botonEnviar:hover span {
    padding-right: 25px;
    font-style: bold;
}
.botonEnviar:hover span:after {
    opacity: 1;
    right: 0;
}
.botonEnviar:hover {
    background-color:green;
    color: rgb(255, 255, 255);
}    


  /*Boton Borrar*/
.botonBorrar {
    background: red;
    border: none;
	border-radius: 3px;
    color: #fff;
    font-family: News Cycle;
    font-size: medium;
    padding: 5px 15px 5px 15px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
    box-shadow: 1px 1px 4px #525252;
	-moz-box-shadow: 1px 1px 4px #525252;
	-webkit-box-shadow: 1px 1px 4px #525252;
}
  
.botonBorrar span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    } 
  
.botonBorrar span:after {
    position: absolute;
    opacity: 10%;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
.botonBorrar:hover span {
      padding-right: 0px;
      
    }
    
.botonBorrar:hover {
        background-color:  rgb(182, 7, 7);
        color: white;
   }    

.botonBorrar:hover span:after {
      opacity: 100%;
      right: 0;
    }


/* Contenedor de Imagenes*/
.contenedor-imagenes{
    display:flex;
    width: 85%;
    margin: auto;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius:3px;
}

.contenedor-imagenes .imagen{
    width: 32%;
    position: relative;
    height:250px;
    margin-bottom:5px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .75);
    overflow-block: hidden;
    
}
.imagen img{
    width: 100%;
    height:100%;
    object-fit: cover;
}


/* Formulario*/
.form-style-2{
	max-width: 75%;
    font: 18px News Cycle;
    color: #ddd;
    font-style: bold;
    background-color: #640c01;
}

.form-style-2-heading{
	font-weight: normal;
	font-style: italic;
	font-size: 15px;
}
.form-style-2 label{
	display: block;
	margin: 0px 0px 15px 0px;
}
.form-style-2 label > span{
	width: 100px;
	font-weight: normal;
    float: left;
	padding-right: 5px;
}
.form-style-2 span.required{
	color:red;
}

.form-style-2 input.input-field, .form-style-2 .select-field{
	width: 40%;	
}
.form-style-2 input.input-field, 
.form-style-2 .textarea-field, 
 .form-style-2 .select-field{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border: 1px solid #C2C2C2;
	box-shadow: 1px 1px 4px #EBEBEB;
	-moz-box-shadow: 1px 1px 4px #EBEBEB;
	-webkit-box-shadow: 1px 1px 4px #EBEBEB;
	border-radius: 2px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	padding: 7px;
	outline:none;
}
.form-style-2 .input-field:focus, 
.form-style-2 .textarea-field:focus,  
.form-style-2 .select-field:focus{
	border: 1px solid rgb(204, 0, 0);
}
.form-style-2 .textarea-field{
	height:100px;
	width: 40%;
}

h3{
    font-family:'News Cycle';
    font-weight: lighter;
    font-size: 40px;
    height: auto;
    color:rgb(255, 255, 255);
    padding-left: 60px;
}

h4{
    padding-left: 25px;
    font-family:'News Cycle';
    font-size: 20px;
    font-weight: lighter;
    height: auto;
    justify-items: center;
    font-style: normal;
    color:rgb(255, 255, 255);
}


.cambiaso {
    width: 35px;
    height: 35px;
}

.cambiaso:hover {
        filter: grayscale(100%);
        transition: 0.5s;
   }    